#mainAnswer {
	margin-top: 10px 
}


#answerContent textarea {
	 resize: none;
	 width: 100%;
	 margin: auto;
	 border-radius: 1px;

}

#singleAnswer {
	padding: 1%;
	margin: auto;
	border-bottom: 1px solid gray;
}

#submitAnswerButton {
	margin-top: 10px;
	}
