<div>
	<div id="templateWrapper" layout="column">
		<div id="questionContent">
			<div id="templateTitle" ui-sref="show_question({question_id: data.id})">
				<span>{{data.title}}</span>
			</div>

			<div id="templateDetails">
				<span read-more id="read-more" body="question_body" content="{{data.body}}"></span>
			</div>
		</div>
		<div id="votesSection" ng-if="authenticated">
			<div id="voteButtons">
				<div ng-class="{upvoteButtonSub: !voted, upvoteButtonSubVoted: voted }" ng-click="upvote(data.id)">
					<a id="upvoteButton" href="">
						<span id="voteCount">{{data.upvotes}}</span>
						<span id="voteLink">{{voteText}}</span>
					</a>
				</div>
			</div>
		</div>
		<div id="answerCounter">
			<a ui-sref="show_question({question_id: data.id})" ng-show="data.answers.length !== 0">
				תשובות: {{data.answers.length}}
			</a>
		</div>
		<div id="templateFooter" ng-if="authenticated">

			<div id="answerButton" ng-class="{answerButton: !answerEnabled, answerButtonClicked: answerEnabled}" ng-click='answer()'>
				<span>
					<a ng-disabled="answerEnabled">
						ענה
					</a>
				</span>
			</div>
			<div id="addCommentLink" ><a href="" ng-click="comment()">הוסף תגובה</a>
			<span id="commentsCount">
				<div ng-if="data.item_comments.length > 0">{{data.item_comments.length}}</div>
			</span>
			</div>

			<div id="followLink" >
			<a href="" ng-click="follow('question', data.id)" ng-if="!data.current_user_following">עקוב</a>
			<a href="" ng-click="follow('question', data.id)" ng-if="data.current_user_following">עוקב</a>
			<span id="voteCount" ng-if="data.follower_count > 0">({{data.follower_count}})</span>
			</div>

			<div id="reportLink" ><a href="" ng-click="showReportDialog()" ng-class="{disabled: reported}" ng-attr-id="{{'title'+ data.id}}">{{reportText}}</a></div>

			<div id="shareLink"><share data="data"></share>
			</div>

			<div id="customToast" ng-if="showReportMessage">
				<b>הדווח נשלח</b>
			</div>


		</div>
		<div id="commentSection" ng-if="commentEnabled">
			<tq-comment item-id="data.id" close-comment="comment()" comments="data.item_comments" item-type="question"></tq-comment>
		</div>

		<div>
			<tq-add-answer ng-if="answerEnabled" question-id="data.id" close-answer="answer()"></tq-add-answer>
		</div>

		<report show='reportShown' item-id="data.id" reported="reported" report-text="reportText" method="reportMessage()" report-options='reportOptions' report-type='question'></report>

	</div>
</div>