
<div id="templateWrapper" layout="column">

	<div id="questionContent">
		<div id="templateTitle" layout="row" ui-sref="show_question({question_id: data.id})">
			<span>{{question_title}}</span>
		</div>

		<div id="templateDetails" layout="row">
			<span read-more id="read-more" body="question_body" content="{{question_body}}"></span>
		</div>
	</div>

	<div id="votesSection">
		<div id="voteButtons">
			<div ng-class="{upvoteButtonSub: !voted, upvoteButtonSubVoted: voted }" ng-click="upvote(data.id)">
				<a id="upvoteButton" href="">

					<span id="voteCount">{{data.upvotes}}</span>

					<span id="voteLink">{{voteText}}</span>


				</a>
			</div>
		</div>
		
	</div>

	<div id="answerCounter">
		<a ui-sref="show_question({question_id: data.id})" ng-show="data.answers.length !== 0">
			תשובות: {{data.answers.length}}
		</a>
	</div>
	<div id="templateFooter">

		<div id="answerButton" ng-class="{answerButton: !answerEnabled, answerButtonClicked: answerEnabled}" ng-click='answer()'>
			<span>
				<a ng-disabled="answerEnabled">
					ענה
				</a>
			</span>
		</div>
		<div id="addCommentLink" ><a href="" ng-click="comment()">הוסף תגובה</a></div>


		<div id="reportLink" ><a href="" ng-click="showReportDialog()" ng-class="{disabled: reported}" ng-attr-id="{{'title'+ data.id}}">{{reportText}}</a></div>

		<div id="customToast" ng-if="showReportMessage">
		<b>הדווח נשלח</b>
		</div>


	</div>
	<div id="commentSection" ng-if="commentEnabled">
		<tq-question-comment question-id="data.id" close-comment="comment()"></tq-question-comment>
	</div>

	<div>
		<tq-add-answer ng-if="answerEnabled" question-id="data.id" close-answer="answer()"></tq-add-answer>
	</div>

	<report show='reportShown' item-id="data.id" reported="reported" report-text="reportText" method="reportMessage()">

	</report>

</div>