#customToast {
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
	margin: auto;
	color:red;
	font-size: 15px;
}


#templateTitle:hover {
	cursor: pointer;
	background-color: #f8f8ff;
}

#templateTitle {
	padding: 1%;
	font-weight: bold;
	font-size: 1.5vw;
	word-wrap: break-word;
	width: 620px;
}


#templateDetails {
	word-wrap: break-word;
}

#templateFooter {
	width: 100%;

}

#voteButtons {
	float: right;
	padding-top: 5px;
}

#voteLink {
	margin-right: 5px;
	padding-right: 5px;
	border-right: 1px solid  #5f9ea0;
	display: inline-block;
}

#voteCount {
	display: inline-block;
}


.upvoteButtonSub {
	text-align: center;
	cursor: pointer;
	border: solid 1px #5f9ea0;
	background-color: #add8e6;
	border-radius: 5px;
	outline: 0;
	outline: none;
	color: blue;

}
.upvoteButtonSub a{
	color: #4169e1;	
	font-size: 1vw;
}

.upvoteButtonSubVoted {
	float: left;
	text-align: center;
	cursor: pointer;
	background-color: #d3d3d3;
	border: solid 1px #5f9ea0;
	border-radius: 5px;
	outline: 0;
	outline: none;

}
.upvoteButtonSubVoted a {
	color: 	#a9a9a9;
	font-size: 1vw;
}

#upvoteButton  {
	text-decoration: none;
	display: inline-block;
	text-align: center;
	cursor: pointer;
	padding: 5px;
}


.answerButton {
	text-align: center;
	cursor: pointer;
	border: solid 1px #5f9ea0;
	background-color: #add8e6;
	border-radius: 5px;
	outline: 0;
	outline: none;
	color: blue;
	display: inline-block;
	margin-left: 20px;
}

.answerButton a {
	padding: 5px;
	display: inline-block;
}
.answerButtonClicked {
	text-align: center;
	cursor: pointer;
	background-color: #d3d3d3;
	border: solid 1px #5f9ea0;
	border-radius: 5px;
	outline: 0;
	outline: none;
	color: blue;
	display: inline-block;
	margin-left: 20px;
}

.answerButtonClicked a {
	padding: 5px 5px 5px 5px;
	display: inline-block;
	color: 	#a9a9a9;
}

#addCommentLink {
	display: inline-block;
	position: relative;
}


#addCommentLink a {
	display: inline-block;
	position: relative;
	text-decoration: none;
	color: #808080;
}

#followLink {
	display: inline-block;
	padding-right: 10px;
	color: #808080;
}

#followLink a {
	color: #808080;
	text-decoration: none;
}
#followLink span {
	font-size: 15px;
}

#reportLink {
	display: inline-block;
	position: relative;
	margin-right: 20px;
	min-width:40px;
	float: left;
}

#shareLink {
	display: inline-block;
	position: relative;
	float: left;
	cursor: pointer;
}

#reportLink a {
	display: inline-block;
	position: relative;
	text-decoration: none;
	color: #808080;
	font-size: 15px;
}

#commentSection {
	width: 100%;

}

#answerCounter {
	position: relative;
	padding-top: 2%;
	padding-bottom: 2%;
}

#answerCounter a {
	position: relative;
	text-decoration: none;
	color: #808080;

}

