<div id="templateWrapper" layout="column">
	<div id="templateTitle" layout="row">
		<p ui-sref="show_question({question_id: data.id})">{{question_title}}</p>
	</div>

	<div id="templateDetails" layout="row">
		<p read-more id="read-more" body="question_body" content="{{question_body}}"></p>
	</div>

	<div id="votesSection">
		<div id="voteButtons">
			<div ng-class="{upvoteButtonSub: !voted, upvoteButtonSubVoted: voted }" ng-click="upvote(data.id)">
				<a id="upvoteButton" href="">אהבתי</a>
				<div>
					{{data.upvotes}}
				</div>
			</div>
			<div id="downvoteButtonSub">
				<a id="downvoteButton" href="" ng-click="">לא אהבתי</a>
			</div>
			<div>
			</div>
		</div>
		
	</div>

	<div id="answerCounter" ng-if="data.answers.length !== 0">
		<a ui-sref="show_question({question_id: data.id})">תשובות: {{data.answers.length}}</a>
	</div>
	<div id="templateFooter" layout="row">

		<div id="answerButton">
			<md-button class="md-raised" ng-disabled="answerEnabled" ng-click='answer()'>ענה</md-button>
		</div>
		<div id="addCommentLink" ><a href="" ng-click="comment()">הוסף תגובה</a></div>

		<div id="commentSection" ng-if="commentEnabled">
			<tq-question-comment question-id="data.id" close-comment="comment()"></tq-question-comment>
		</div>


	</div>

	<div>
		<tq-add-answer ng-if="answerEnabled" question-id="data.id" close-answer="answer()"></tq-add-answer>
	</div>


</div>