#showAnswerMain {
	padding-top: 3%;
	direction: rtl;
}

#answersHeader {
	border-top: 2px solid #dcdcdc;
	text-align: center;
}


#answerSection {

}

#singleAnswer {
	padding-top: 2%;
	padding-bottom: 2%;
	border-top: 1px solid gray;
}