#showAnswerMain {
	padding-top: 3%;
	direction: rtl;
	width: 620px;
}

#answersHeader {
	border-top: 2px solid #dcdcdc;
	text-align: center;
}


#singleAnswer {
	padding-top: 2%;
	padding-bottom: 2%;
	border-top: 1px solid gray;
}

#answerUserInfo {
	min-height: 60px;
	margin: auto;
	position: relative;
}


#answerUserImage {
	position: absolute;
	top: 0;
	right: 0;
}

#userImage {
	position: relative;
}

#answerImage {
	height: 50px;
	border-radius: 50%;
}

#userInfoWrapper {
	padding-right: 10%;
	display: table;
}

#userInfo{
	display: table-cell;
	vertical-align: middle;
	height: 40px;
}

#answerUserName{
	font-size: 1.2vw;
	font-weight: bold;
}

#answerUserDetails {
}

#answerFooter {
	padding-top: 10px;
}

#answerActions {
	
}
#answerUpvote {
	display: inline-block;
}

#answerComment {
	display: inline-block;
}