.darkBackground {
	position: absolute;
	background:rgba(0,0,0,0.5);
	opacity: 1;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	position: absolute;
	height: 100%;
	margin: auto;
	left: 0;
	right: 0;
	z-index: 12;
	overflow: auto;

}

.normalBacgkround {
	position: absolute;
	height: 100%;
	margin: auto;
	left: 0;
	right: 0;
}

#questionsMain {
	z-index: 10;
}
