html {
	overflow-y: scroll;
}

.darkBackground {
	background:rgba(0,0,0,0.5);
	opacity: 1;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	position: fixed;
	z-index: 800;

}


.normalBacgkround {
	position: relative;
	margin: auto;
}

#content {
	margin: auto;
	padding-top: 5%;
}


#mainPageHeader {
	position: relative;
	direction: rtl;
	border-bottom: 1px solid gray;
}

#questionsPage {
	margin: 0 auto;
}


.disabled {
  cursor: not-allowed;
  pointer-events: none;
}
