#profileTitle {
}

#profileContent {
	height: 100%;
}

#profileHeader {
	position: relative;
	padding-right: 30%;
	box-sizing: border-box;
	min-height: 13vw;
}

#pictureWrapper {
	position: absolute;
	top: 0;
	right: 0;
}

#profilePicture {
	position: relative;
	overflow: hidden;
}

#profilePicture img {
	height: 90%;
	width: 90%;
	position: relative;
}

#profileName {
	min-height: 3vw;
	vertical-align: middle;
	position: relative;
}

#profileName span {
	font-size: 2vw;
	position: relative;
}

#editLink {
	text-decoration: none;
	color: gray;
	font-size: 1vw;
}

#editName {
	height: 2vw;
	vertical-align: middle;
	position: relative;
}

#profileDetails {
	position: relative;
}


#userDescription {
	color: gray;
	font-size: 1.5vw;
}

#temp {
	height: 500px;
}