<div id="profileTitle">
	<p>פרופיל</p>
</div>
<div id="profileContent">
	<div id="profileHeader">
		<div id="pictureWrapper">
			<div id="profilePicture" 
			ng-mouseenter="hovering=true"
			ng-mouseleave="hovering=false">
			<img id="image" ng-src="{{user.avatar}}"/>
			<div 
			ng-class="{editImage: hovering, hidden: !hovering}">
			<a ng-click="showImageDialog()">ערוך תמונה</a>
		</div>
	</div>
</div>

<div id="profileDetails">
	<div id="profileName">
		<div>
			<span ng-if="!editName">{{user.full_name}}</span>
			<a ng-if="!editName" href="" id="editLink" ng-click="editUserName()">ערוך</a>
		</div>
		<div ng-if="editName">
			<input type="text" ng-model="user.new_name" maxlength="20">
			<button ng-click="sendUserName()">שלח</button>
			<a ng-click="editUserName()" >בטל</a>
		</div>
	</div>
	<div id="profileDescription">
		<div>
			<span ng-if="!editDescription" id="userDescription">{{user.description}}</span>
			<a ng-if="!editDescription" href="" id="editLink" ng-click="editUserDescription()">ערוך</a>
		</div>
		<div ng-if="editDescription">
			<input type="text" name="description" ng-model="user.new_description" maxlength="50">
			<button ng-click="sendUserDescription()">שלח</button>
			<a ng-click="editUserDescription()" >בטל</a>
		</div>

	</div>
</div>
<div id="moreInfo">
<span>
	<span id="followerCountMain"><span id="followerText">עוקבים</span>
	<span id="followerCount">{{user.follower_count}}</span></span>
</span>
</div>
</div>



</div>