#mainSettings {
	direction: rtl;
	width: 100%
	height: 100%;
	margin: auto;
}

#optionsList {
	position: fixed;
	float: right;
	width: 10%;
	margin: auto;
}

#settingsView {
	position: relative;
	margin: auto;
}
#listTitle span {
	padding-right: 3px;
}


#list {
}

#list ul {
	list-style-type: none;
	padding:0;
}

#list a{
	top: 7px;
	display: inline-block;
	position: relative;
	text-decoration: none;
	padding-right: 3px;
	color: 	#696969;
}

#listItem {
	font-size: 1vw;
	padding-bottom: 15px;
}

.currentState {
	background-color: #ececec;
	border-radius: 3px;
}

#settingsTabs {
	background-color: #F1F2F2;
	height: 40px;
}

#mobileSettingsTabItem {
	text-align: center;
}

#mobileSettingsTabItem span {
	color: gray;
	position: relative;
	top:10px;
}

#mobileSettingsTabItem:active {
	background-color: #F9F9FA;
}