#mainSettings {
	direction: rtl;
	width: 100%
	height: 100%;
}

#optionsList {

	position: fixed;
	display: block;
	float: right;
	width: 10%;
	margin: auto;
}

#settingsView {
	position: relative;
	width: 60%;
	margin: auto;
}


#list {
	border: 1px solid gray;
}

#list ul {
	list-style-type: none;
	padding:0;
}

#listItem {
	font-size: 1vw;
	padding: 5% 5% 5% 0;

}