<!-- <div id="mobileFooter">
<div id="answerButton" ng-class="{answerButton: !answerEnabled, answerButtonClicked: answerEnabled}" ng-click='answer()'>
		<span>
			<a ng-disabled="answerEnabled">
				ענה
			</a>
		</span>
	</div>
	<div id="voteButtons">
		<div ng-class="{upvoteButtonSub: !voted, upvoteButtonSubVoted: voted }" ng-click="upvote(data.id)">
			<a id="upvoteButton" href="">
				<span id="voteCount">{{data.upvotes}}</span>
				<span id="voteLink">{{voteText}}</span>
			</a>
		</div>
	</div>
</div> -->

<string name="vertical_ellipsis">&#8942;</string>