<div>
	<div class='report-modal-mobile' ng-if='show'>
		<div class='report-modal-overlay-mobile' ng-click='hideModal()'></div>
		<div class='report-modal-dialog-mobile' ng-style='dialogStyle'>
			<div class='report-modal-dialog-content-mobile'>
				<div id="mobileFooterWrapper">
					<div id=moreOptionsItem>
						<div>
							<share data="data"></share>
						</div>
					</div>
					<div id=moreOptionsItem>
						<span>דווח</span>
					</div>
					<div id=moreOptionsItem ng-click='hideModal()'>
						<span>בטל</span>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>

