<div>
	<div class='ng-modal' ng-show='show'>
		<div class='ng-modal-overlay' ng-click='hideModal()'></div>
		<div class='ng-modal-dialog-image' ng-style='dialogStyle'>
			<div class='ng-modal-close-image' ng-click='hideModal()'><span>X<span></div>
			<div class='ng-modal-dialog-content'>

				<div id="imageFileSelect">
					<div id="dialogHeader">
						<div id="selectorHeader"><label for="fileInput" id="fileButton"><div>בחר תמונה</div></label><input type="file" id="fileInput" /></div>
						<div id="croppedHeader"><span>תצוגה מקדימה:</span></div>
					</div>
					<div class="cropArea">
						<img-crop image="myImage" area-type="circle" chargement="'Loading'" result-image="myCroppedImage"></img-crop>
					</div>

					<div id="imageActions">
						<button ng-click="sendImage()" ng-disabled="!myCroppedImage">שלח</button>
						<a href="" ng-click="cancelImage()">ביטול</a>	
					</div>
					<div id="croppedImage">
						<div id="imageWrapper">
							<img ng-src="{{myCroppedImage}}" ng-if="myCroppedImage"/>
						</div>
					</div>

				</div>

				
			</div>
		</div>
	</div>
</div>