
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:0.8; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:0.8; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:0.8; } }

.report-modal-overlay {
  position:fixed;
  z-index:19999;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:#000000;
  opacity:0;
  -webkit-animation:fadeIn 180ms ease-out 0s 1 normal; 
  -moz-animation:fadeIn 180ms ease-out 0s 1 normal;
  animation:fadeIn  180ms ease-out 0s 1 normal;



  -webkit-animation-fill-mode:both;
  -moz-animation-fill-mode:both;
  animation-fill-mode:both;
}


.report-modal-dialog {
  z-index:20000;
  position: fixed;
  width: 50%; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 4px 4px 80px #000;
  opacity: 1;
}
.report-modal-dialog-content {
  padding:10px;
  padding-top: 20px;
  margin-top: 10px;
  text-align: right;
}
.report-modal-close {
  position: fixed;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
  font-family: 'arial', 'sans-serif';
}

.report-modal-close p {
  float: right;
}

#reportOptions {
  direction: rtl;
  padding: 10px;
}

#singleOption {
  padding-bottom: 10px;
}

#reportActions {
  position: relative;
  display: inline-block;
  width: 100%;
}

#reportButtons {
  display: inline-block;
  float: left;
  padding-left: 25px;
}

#sendReportButton {
  display: inline-block;
  border: solid 1px black;
  border-radius: 10%;
  margin-left: 20px;
  width: 50px;
  text-align: center;
  vertical-align: middle;
}

#sendReportLink {
  text-decoration: none;
  display: block;
  padding-top: 7px;
  padding-bottom: 7px;
  color: blue;
  background-color: #87cefa;
}

#cancelReportButton {
  display: inline-block;
}

#cancelReportLink {
  display: block;
  text-decoration: none;
  color: grey;
}

#reportFormError {
  color: red;
  font-weight: normal;
  padding: 10px;
}