#mainContent {
	margin: auto;
	width: 100%;
	min-height: 100%;
	direction: rtl;
	display: flex;
}
#contentView {
	position: relative;
	width: 60%;
	margin: auto;
}

#userQuestion {
	border-bottom: 1px solid gray;
	padding: 10px 0 15px 0;
}

#listTitle {
	color: #696969;
}

#listItem {

}

#listItem:hover {
	cursor: pointer;
}

#profileTitle {
	height: 40px;
	border-bottom: 2px solid gray;
}