<div id="mainPage" ng-class="{normalBacgkround: $focused, normalBacgkround: !$focused}"  ng-focus="$focused=false" tabindex="1" ng-cloak>
	<div id="navbarSection">
		<tq-navbar></tq-navbar>
	</div>
	<div id="content" flex-gt-xs="75">
		<div id="mainContent">
			<div id="optionsList">
				<div id="listTitle">
					<span>התוכן שלי</span>
				</div>
				<div id="list">
					<ul>
						<div id="listItem" ng-class="{currentState: state == 'questions_asked'}">
							<a ng-click="changeState('questions_asked')">
								<li>שאלות</li>
							</a>
						</div>
						<div id="listItem" ng-class="{currentState: state == 'answers'}">
							<a ng-click="changeState('answers')">
								<li>תשובות</li>
							</a>
						</div>
					</ul>
				</div>
			</div>
			<div id="contentView">
				<div id="contentData">
					<div id="profileTitle">
						<span ng-show="state == 'questions_asked'">
							שאלות ששאלתי
						</span>
						<span ng-show="state == 'answers'">
							תשובות
						</span>
					</div>
					<!-- questions asked -->
					<div id="userQuestion" ng-repeat="q in userQuestions" ng-show="state == 'questions_asked'">
						<div id="templateTitle" ui-sref="show_question({question_id: q.id})">
							{{q.title}}
						</div>
						<div id="templateDetails">
							{{q.body}}
						</div>
					</div>
					<!-- answers -->
					<div id="userQuestion" ng-repeat="a in userAnswers" ng-show="state == 'answers'">
						<div id="templateTitle" ui-sref="show_question({question_id: a.question.id, answer_id: a.id})">
							{{a.question.title}}
						</div>
						<div id="templateDetails" ng-bind-html="trustedHtml(a.answer_body)">
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>