#profileWrapper {
	direction: rtl;
	position: relative;
	margin: auto;
}

#profilePicture img {

}

#ShowprofileExtras {

}

#followButton {
	position: relative;
	float: right;
	margin-top: 10px;
}

.following {
	float: left;
	text-align: center;
	cursor: pointer;
	background-color: #d3d3d3;
	border: solid 1px #5f9ea0;
	border-radius: 5px;
	outline: 0;
	outline: none;
}

.following a {
	color: 	#a9a9a9;
	font-size: 1vw;
}

.notFollowing {
	text-align: center;
	cursor: pointer;
	border: solid 1px #5f9ea0;
	background-color: #add8e6;
	border-radius: 5px;
	outline: 0;
	outline: none;
	color: blue;
}


.notFollowing a{
	color: #4169e1;	
	font-size: 1vw;
}

#voteLink {
	font-size: 15px;
}

#voteCount {
	font-size: 15px;	
}

@media (max-width:600px) {

	#profileWrapper {
		padding-top: 25px;
	}
}