.report-modal-dialog-content {
  padding:10px;
  padding-top: 20px;
  margin-top: 10px;
  text-align: right;
  direction: rtl;
}
.report-modal-close {
  position: fixed;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
  font-family: 'arial', 'sans-serif';
}

.report-modal-close p {
  float: right;
}

#reportOptions {
  direction: rtl;
  padding: 10px;
}

#singleOption {
  padding-bottom: 10px;
}

#reportActions {
  position: relative;
  display: inline-block;
  width: 100%;
}

#reportButtons {
  display: inline-block;
  float: left;
  padding-left: 25px;
}

#sendReportButton {
  display: inline-block;
  border: solid 1px black;
  border-radius: 10%;
  margin-left: 20px;
  width: 50px;
  text-align: center;
  vertical-align: middle;
}

#sendReportLink {
  text-decoration: none;
  display: block;
  padding-top: 7px;
  padding-bottom: 7px;
  color: blue;
  background-color: #87cefa;
}

#cancelReportButton {
  display: inline-block;
}

#cancelReportLink {
  display: block;
  text-decoration: none;
  color: grey;
}

#bugReportHeader  {
display: inline-block;
padding-bottom: 10px;
padding-top: 10px;
}

#reportFormError {
  color: red;
  font-weight: normal;
  padding: 10px;
}

#bugReportInput {
  resize: none;
  width: 80%;
  border-radius: 3px;
}

#errorMessage {
  color: red;
}