.navbar {
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	direction: rtl;
	position: fixed;
	top: 0;
	right: 0;
	width:100%;
	background: white;
	z-index: 1000;
}

#mainBar {
	margin: auto;
	padding: 0;
	display: block;
	box-sizing: border-box;
	position: relative;
}

#bar {
	display: table;
	width: 100%;
	box-sizing: border-box;
}
#menuItems {
	width: 30%;
	display: table-cell;
}

.askBar {
	position: relative;
	display: table-cell;
	width: 70%;
	margin: auto;
	padding: 0;
}
