.navbar {
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	direction: rtl;
	position: fixed;
	top: 0;
	right: 0;
	width:100%;
	background: white;
	backface-visibility: hidden;
	min-height: 3.5vw;
	box-sizing: border-box;
	z-index: 800;
	-webkit-perspective: 1000;
	word-wrap: break-word;
	overflow: hidden;
}

#mainBar {
	margin: auto;
	box-sizing: border-box;
	position: relative;
	padding: 0;
	overflow: hidden;
}

#logo {
	z-index: 1;
	top:0;
	left: 0;
	position: absolute;
	height: 100%;
}
#logo a {
	padding: 10% 0 10% 0;
	font-size: 2.2vw;
	display: block;
	text-decoration: none;
	color: blue;
	font-weight: bold;
}


#bar {
	display: table;
	box-sizing: border-box;
	width: 100%;
	padding-left: 10%;
}
.menuItems {
	display: table-cell;
	box-sizing: border-box;
	vertical-align: middle;
	width: 25%;

}

.noItems {
	display: none;
}

.askBar {
	display: table-cell;
	width: 100%;
	box-sizing: border-box;
	padding-top: 1%;
	padding-bottom: 1%;
}

#menuLinksWrapper {
	display: table;
	width: 100%;
}

#menuItem {
	display: table-cell;
	padding-left: 5%;

}

#menuItem a {
	
}

