<div class=navbar>
    <div id="LoggedinUser">
        <img src='{{user_avatar}}'>
        <span>{{user_name}}</span>
    </div>
    <div id="mainBar" flex-gt-sm="80">
        <div id="logo">
            <a ui-sref="main">
                Teque
            </a>
        </div>
        <div id="bar">
            <div id="menuItems" ng-class="{noItems: $focused, menuItems: !$focused}">
                <span id="menuItem">
                    <div id="itemWrap">          
                      <a ui-sref="logout">
                        <span>התנתק</span>
                    </a>
                </div>
            </span>
            <span id="menuItem">
                <div id="itemWrap">          
                    <a  ui-sref="settings({sub_state: 'profile'})">
                    <span>פרופיל</span>
                    </a>
            </div>
        </span>
        <span id="menuItem">             
            <div id="itemWrap">       
                <a>
                    <span>התראות</span>
                </a>
        </div>
    </span>
    <span id="notificationCount" ng-if="notifications">
        <div id="notificationIcon">     
          <a>
            <text>12</text>
        </a>
    </div>
</span>

</div>

<div class="askBar">
    <tq-ask></tq-ask>
</div>
</div>
</div>
</div>