#question {
	border-bottom: 1px solid gray;
	direction: rtl;
	padding-bottom: 10px;
	padding-top: 10px;
}

#questionTitle {
	font-size: 1.5vw;
	font-weight: bold;
}

#questionBody {
	font-size: 1.1vw;
}