<div>
	<div id="answerUserInfo">
		<div id="answerUserImage">
			<div id="userImage" class="clickable" ng-click="goToProfile(answer.user.id)">
				<img id="answerImage" ng-src='{{answer.user.avatar}}' >
			</div>
		</div>
		<div id="userInfoWrapper">
			<div id="userInfo">
				<span>
					<span id="answerUserName" class="clickable" 
					ng-click="goToProfile(answer.user.id)">
						{{answer.user.full_name}}
					</span>,
					<span id="answerUserDetails">
						{{answer.user.description}}
					</span>
				</span>
			</div>
		</div>
	</div>
	<div id="answerBody">
		<div ng-bind-html="trustedHtml()"></div>
	</div>
	<div ng-if="authenticated">
		<div id="answerFooter">
			<div id="answerActions">

				<div id="addCommentLink" ><a href="" ng-click="comment()">הוסף תגובה</a></div>
				<div id="answerUpvote"></div>
			</div>
		</div>
		<div id="commentSection" ng-if="commentEnabled">
			<tq-comment item-id="answer.id" close-comment="comment()" comments="answer.item_comments" item-type="answer"></tq-comment>
		</div>
	</div>
</div>