<div>
	
	<div id="contentTitle">
		<p>חשבון</p>
	</div>
	<div id="contentBody">
		<div id="accountEmailSection">
			<div id="accountEmailTitle">
				<div>
					<p>אימייל</p>
				</div>
			</div>
			<div id="accountEmail">{{email}}
			</div>
		</div>
		<div id="accountPasswordSection">
			<div id="accountPasswordTitle">
				<p>סיסמה</p>
			</div>
			<div id="accountPasswordLink"  ng-if="!editPassword">
				<a href="" ng-click="showAdvanced($event)">שנה את הסיסמה שלך</a>

			</div>	
			<div id="editPasswordSection" ng-if="editPassword">
				<div >
					<form name="passwordForm" ng-submit="sendUserPassword()" novalidate>
						<div>
							<p>סיסמה חדשה</p>
							<div>
								<input type="password" name="password" ng-model="user.newPassword" required>
							</div>
						</div>
						<div>
							<p>אשר סיסמה</p>
							<div>
								<input type="password" name="password_conf" ng-model="user.passwordConfirmation" required>
							</div>
							<div ng-if="!password_confirmation">
								<p>סיסמאות לא זהות, נסה שנית</p>
							</div>
						</div>
						<div>
						<button type="submit" ng-disabled="passwordForm.$invalid">שלח</button>
						</div>
					</form>
				</div>

			</div>		
		</div>

		<div id="logoutSection">
			<div id="logoutTitle">
				<p>התנתק</p>
			</div>
			<div id="logoutLink">
				<a ui-sref="logout" > התנתק</a>
			</div>
		</div>

	</div>
</div>