#contentTitle {
	border-bottom: 1px solid gray;
	height: 30px;
}

@media (max-width:600px) {

}

#accountEmailSection {
	border-bottom: 1px solid gray;
	height: 50px;
}

#accountEmailTitle {
	width: 40%;
	display: inline-block;
}

#accountEmail {
	width: 40%;
	display: inline-block;
}

#accountPasswordSection {
	border-bottom: 1px solid gray;
	min-height: 50px;
}

#accountPasswordTitle {
	width: 40%;
	display: inline-block;
}
#accountPasswordLink {
	width: 40%;
	display: inline-block;
}

#editPasswordSection {
	width: 40%;
	display: inline-block;
}


#editPasswordSection {
	font-size: 15px;
}

#logoutSection {
	border-bottom: 1px solid gray;
	height: 50px;
}

#logoutTitle {
	width: 40%;
	display: inline-block;
}

#logoutLink {
	width: 40%;
	display: inline-block;
}

