#commentMain {
	position: relative;
	display: table;
	width:100%;
	padding: 2%;
	margin-top: 4%;
	border-radius: 3px;
	background-color: #f4f4f4;
}

#commentSection {
	border- bottom: 1px solid black;
}

#commentInput {
	position: relative;
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	margin: 0 auto;
	padding-left: 20px;
}

#commentInput input {
	border-radius: 3px;
	border: 1px gray solid;
	outline: none;
	padding-left: 3%;
	width: 100%;
}

#commentButton {
    display: table-cell;
    vertical-align: top;
    white-space: nowrap;
}

#commentButton button {
	display: inline-block;
}

#commentsIndex {
	display: table-row;
}

#comment {
	border-bottom: 1px gray solid;
	padding-top: 2%;
	margin: auto;
}