<div id="commentMain">
	<div id="commentSection">
		<div id="commentInput">
			<input type="text" name="question_comment" ng-model="comment.comment_body">
		</div>

		<div id="commentButton">
			<button ng-click="sendComment()" ng-disabled="!comment.comment_body">שלח</button>
		</div>
	</div>
	<div id="commentsIndex">
		<div id="comment" ng-repeat="c in comments">
			<div>
				<a>User name,</a>
				<a>IMG</a>
			</div>
			<div>
				<text>{{c.comment_body}}</text>
			</div>
		</div>
	</div>
</div>