<div id="askSection" flex>
	<div id="askFormSection">
		<form name="askForm"  novalidate id="askForm">
			<div id="askInputSection">

				<div id="AskCounter" ng-if="$focused && (150 - question_data.title.length) < 10" ng-class="{colorCounter: (150 - question_data.title.length) < 0 }">
					{{150 - question_data.title.length}}
				</div>
				<textarea
				msd-elastic
				collapse-menu
				ng-class="{askOpen: $focused}"
				id="ask"
				name="ask"
				type="text"
				ng-model="question_data.title" 
				placeholder="שאל שאלה" 
				tq-input-focus 
				ng-trim="false"
				required 
				>
			</textarea>

		</div>

		<div id="detailsWrapper" ng-if="$focused" hide-xs>
			<div id="DetailsCounter" ng-if="$focused && (250 - question_data.body.length) < 10" ng-class="{colorCounter: (250 - question_data.body.length) < 0 }">
				{{250 - question_data.body.length}}
			</div>
			<textarea  
			msd-elastic
			name="details"
			ng-if="$focused"
			placeholder="פרטים (לא חובה)" 
			rows="3"
			id="details"
			ng-model="question_data.body"
			ng-trim="false"
			>
		</textarea>
	</div>

</form>
</div>
<div id="askButtonSection" ng-show="$focused">

	<button id="askButton" ng-disabled="askForm.$invalid || ((250 - question_data.body.length) < 0) || ((150 - question_data.title.length) < 0)" ng-click="askQuestion()"> 
		<div id="buttonText">שאל</div>
	</button>
</div>

<span id="askLink" ng-if="!$focused" ng-click="openAsk()">
	<a>שאל שאלה</a>
</span>

</div>