<div id="askSection">
	<form flex-gt-sm name="askForm" ng-submit="askQuestion()" novalidate>
		<div id="askInputSection">
			<input id="ask" name="ask" type="text" ng-model="question.title" placeholder="שאל שאלה" tq-input-focus flex-gt-sm required >
		</div>
		<div id="askButtonSection">

			<button type="submit" id="askButton" ng-if="$focused" ng-disabled="askForm.$invalid"> <div id="buttonText">שאל</div> </button>
		    </div>
		    <div>
		    <textarea  
		    ng-show="$focused"
		    placeholder="פרטים" 
		    rows="4"
		    id="details"
		    ng-model="question.body"
		    ></textarea>
		    </div>
	</form>
</div>