#askSection {
	position: relative;
	width: 100%;
	padding: 2px 2px 2px 2px;

}
#askInputSection {
	position: relative;
	display: inline-flex;
	width: 83%;
	height: 2.1vw;
	padding: 2px 2px 2px 2px;
	
}


#ask {
	
	border-radius: 4px;
	background-color: #f4f4f4;
	height: 2vw;
	width: 100%;
}

#ask:focus {
	outline: none;
	margin: auto;
}

#askButtonSection {
	position: relative;
	display: inline-flex;
	width: 15%;
	float: left;
	height: 2.1vw;
	padding: 2px 2px 2px 2px;

}

#askButton {
	display: inline-flex;
	height: 2.21vw;
	position: relative;
	border: 1.5px gray solid;
	border-radius: 5px;
	width: 50%;
	align-items: center;
	float: right;
	background-color: 
}

#askButton:hover {
	cursor: pointer;
}

#buttonText {
	margin: auto;
}

#detailsIcon {
	margin: auto;
	border: 1px solid #EDEDED;
}

#detailsIcon:hover {
	cursor: pointer;
}

#detailsSection {
	margin-top: 4%;
}

#details {
	resize: none;
	border-radius: 4px;
	width: 83.1%;
}